.moved_left {
    left: 10px;
}

.selected_area_container {
	display: inline-block;
	/* background-color: #f8f8f8; */
	font-size: 24px;
	top: 10px;
    position: relative;
}

.selected_area_container > * {
	display: inline-block;
}

.selected_area {
	width: 400px;
	margin-left: 10px;
	margin-right: 20px;
	font-weight: bold;
}

.open_stats {
	position: relative;
	top: 5px;
	display: inline-block;
}