<div class="moved-bottom mini-sub-menu" (click)="activateSidebar()" [class.disabled]="isSidebarActive">
	<fa-icon [icon]="iconListAlt"></fa-icon>
</div>
<div class="moved-bottom features-container" [class.active]="isSidebarActive">
	<div class="areas-container">
		<div class="areas">Areas</div>
		<fa-icon class="hide-marker" [icon]="iconChevronLeft" (click)="hideSidebar()"></fa-icon>
	</div>
	<div class="search-container">
		<input class="form-control" type="search" [(ngModel)]="searchText" placeholder="Search text">
	</div>
	<ul class="features">
		<li *ngFor="let feature of features | filter: searchText" [class.selected]="feature === selectedFeature" (click)="onSelect(feature)">
			<span class="badge">{{feature.type}}</span> {{feature.name}}
		</li>
	</ul>
</div>